body {
}
	div {
		width: 75%;
		float: middle;
		font:Times, serif;
		margin: bottom:50px;
		
	}
	.headlineDiv {
		
		
		font: bold 25px Times, serif
	}
	
	.lineWrapper {
		
		outline: 2px solid black;
		float: center;
	}
	
	#lineGraphDiv {
		width: 100%;
		float: right;
		
	}
	
	.captionWrapper{
		width: 70%;
		float: top
		margin-bottom:50px;
	}
	
	.buttonCaption {
		font: 10px Times;
		float: top;
	}
	.captionDiv {
		width: 60%;
		
	}
	p.caption {
		font: italic 10px Times, serif;
	}
		
	p.text {
		font: 15px Times, serif;
		
	}
	.btn {
		width: 100px;
		font: 10px Times, serif;
	}
	
	.donutWrapper {
		width: 70%;
	}
	.donutDiv {
		width: 45%;
	}
	#wfGenderDiv {
		float: right;
	}
	
	#wfRaceDiv{
		float: right;
		
	}
	
	#mwAgeDiv{
		float: right;
	}


	
		
		
	
	
