body {
}
	div {
		
		font:Times, serif;
		/*margin-bottom:25px;*/
		
	}
	.row {
		margin-left:auto;
		margin-right:auto;

	}
	.headlineDiv {
		
		
		font: bold 25px Times, serif;
		margin-bottom: 25px;
		margin-top: 25px;
	}
	
	.textDiv {
		margin-bottom: 25px;
	}
	.lineWrapper {
		
	
		outline: 2px solid black;
		float: center;
		margin-bottom: 25px;
	}
	
	#lineGraphDiv {
		height: 350px;
		
		margin-bottom: 0px;
	}
	
	.captionWrapper{
		width: 70%;
		float: top
		margin-bottom:50px;
	}
	
	.buttonCaption {
		font: 10px Times;
		float: top;
	}
	.captionDiv {
		width: 60%;
		
		
	}
	p.caption {
		font: italic 10px Times, serif;
	}
		
	p.text {
		font: 15px Times, serif;
		
	}
	.btn {
		width: 100px;
		font: 10px Times, serif;
	}
	
	.donutDiv{
		height:200px;
	}
	



	
		
		
	
	
